
/* Clear all formats */
*{
    padding: 0; /* Removes spaces between objects */
    margin: 0; /* Removes spaces between objects */
}
/* Navigation bar logo */
#nav-logo{
    width: 300px; /* Custom size */
}
/* Contents all the sections in the page */
#container{
    width: 100%; /* Custom size */
    height: 100vh; /* Custom size */
    display: flex;
    flex-direction: column; /* Shows content vertically */
    align-items: center; /* Center the content */
}
/* Section where all the contents are displayed */
.section-containers{
    width: 60%; /* Custom size */
}
/* Initial letters from paragraphs */
.initial-letters{
    text-transform: uppercase; /* Change lowercase to uppercase */
    color: rgb(196, 33, 33); /* Letters color */
    font-size: x-large; /* Letter size */
}
/* Contents the images and texts from sections */
.content{
    display: flex;
    flex-direction: row; /* Shows items horizontally*/ 
}
/* Image preview of the 3D models */
.model-preview{
    width: 200px; /* Custom size */
    margin: 10px; /* Custom size */
}
/* When mouse hover section images */
.model-preview:hover{
  cursor: pointer; /* Change cursor status to pointer */
}
/* Section titles*/
.section-title{
    font-family: 'Mulish', sans-serif; /* Letter type */
    text-align: center;
}
/* Section texts */
.section-text{
    font-family: 'Poppins', sans-serif; /* Letter type */
    text-align: justify;
}
/* PopUp window */
#popup {
    display: none; /* not showing on screen */
    position: fixed; /* fix the screen [cannot move scrolling] */
    top: 0; 
    left: 0;
    width: 100%; /* Full screen */
    height: 100%; /* Full screen */
    background: rgba(0, 0, 0, 0.8); /* Custon background color */
    z-index: 9999; /* Priority position */
}
/* Loading image when a model is loading */
#loader { 
    width: 100px; /* Custom size */
    position: absolute; /* Position above */
    top: 50%; /* Custom position */
    left: 50%; /* Custom position */
    z-index: 9999; /* Priority position */
    transform: translate(-50%, -50%); /* Center the content */
}
/* Canvas where the models are rendered */
#canvas-container {
    position: absolute; /* Position above */
    top: 50%; /* Custom position */
    left: 50%; /* Custom position */
    transform: translate(-50%, -50%); /* Center the content */
}
/* Where all the controls are displayed */
#canvas-controls {
    position: absolute; /* Position above */
    top: 85%; /* Custom position */
    left: 50%; /* Custom position */
    transform: translate(-50%, -50%); /* Center the content */
    width: 200px; /* Custom position */
    height: fit-content; /* Fit the height to the content */
    display: flex;
    flex-direction: row; /* Display all the content horizontally */
    justify-content: space-between; /* The space between the control buttons */
}
/* Icons properties */
.fa-solid{
    font-size: x-large; /* Custom size */
    cursor: pointer; /* Change the cursor to pointer */
    transition: transform .1s; /* Transition for later hovering and scaleing */
}
/* When hover an icon */
.fa-solid:hover{
    color: #3b5e9c; /* Change color */
    transform: scale(1.2); /* Re-scale so it gives an effect of getting bigger when hovering */
}
/* Close button */
#close-btn{
    position: absolute;  /* Position above */
    top: 0; /* Place on top of the parent window */
    right: 0; /* Moves to right, so it will place in top-right corner of the window */
    font-size: 42px; /* Custom size */
    padding: 20px; /* Adding some space for not sticking the icon to the corner */
}